body {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 250%;
}

#header { 
    margin-left: 2%;
}

#header a {
    float: right;
    margin-top: 25px;
    padding: 10px;
}

a {   
    font-family: 'Bai Jamjuree', sans-serif;
    text-decoration: none;
    color: #575757;
}

a:hover {    
    color: black;
}

#title {
    font-family: 'Bungee Shade', cursive;
    font-size: 200%;   
}

#nav { 


}   

#container { 

}


img {  
    width: 100%;

}
#footer { 
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

#footer a {
    padding: 10px;
}

#footer p {
    padding: 10px;
    display: block;
}